POSTGRES_DB=fpl
POSTGRES_USER=fpl
POSTGRES_PASSWORD=change_me
RECOMMENDATION_SNAPSHOT_MINUTES=15
COPILOT_MODEL=auto
COPILOT_GITHUB_TOKEN=
COPILOT_RUNTIME_URL=
COPILOT_RUNTIME_CONNECTION_TOKEN=
COPILOT_REQUEST_TIMEOUT_SECONDS=120